@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->

<address>
    <strong>Swaminathan Vetri - Twitter</strong> <a href="http://twitter.com/svswaminathan">svswaminathan</a><br />
    <strong>Swaminathan Vetri - Mail </strong> <a href="mailto:swami@wannabeegeek.com">swami(at)wannabeegeek.com</a><br>

    <strong>Lohith GN - Twitter</strong> <a href="http://twitter.com/kashyapa">kashyapa</a><br />
</address>
